/* HEADER */

header .black-line{
    height: 40px;
    background-color: #000;
}

header .btn-header{
    background-color: #353636;
    border-radius: 20px;
    font-size: 15px;
    padding: 5px 15px;
}

header .fa-search{
    font-size: 20px;
}

header .nav-link img{
    width: 10px;
}

header .navbar ul li .text-color{
    color: black;
}
header span .fa-bars{
    padding: 5px 10px;
    color: gray;
    border: 1px solid lightgray;
    font-size: 20px;
}

.box-sony img{
    margin-top: 10px;
}

img{
    width: 100%;
}

/* JUMBOTRONE TOP-BOTTOM */

.mt-jumbotrone-top, .mt-jumbotrone-bottom{
    height: 630px;
    background-image: url("../img/jumbo-bg.png");
    background-size: cover;
    background-position: center;
}

.testo-jumbo{
    color:white;
    padding-top: 275px;
}

.testo-jumbo img{
    width: 220px;
}

.testo-jumbo h1{
    margin: 25px 0px 30px 0px;
}

.mt-jumbotrone-bottom{
    background-image: url("../img/it-takes-two-hero-banner-desktop.jpg");
}

.testo-jumbo-bottom{
    padding-top: 55px;
}

.testo-jumbo .custom-btn{
    margin-top: 15px;
    background-color: #CD3D10;
    border-radius: 20px;
    padding: 9px 15px;
    font-weight: 500;
}

/* TITOLI */

.box-titoli{
    margin: 40px 0px 100px 0px;
}

.box-titoli img{
    border-radius: 15px;
}

/* CONSOLE PS 5 */

.box-title{
    text-align: center;
}

.box-title .play{
    margin: 0px;
    color: #006CCE;
    font-size: 13px;
    font-weight: 500;
}

.box-title h1{
    margin-bottom: 30px;
}

.box-ps-5{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.box-ps-5 h1{
    padding-top: 40px;
}

.box-ps-5 p{
    padding: 30px 0px 25px 0px;
    width: 80%;
    color: gray;
    font-size: 17px;
}

.btn-ps5{
    width: 200px;
    border-radius: 25px;
    padding: 5px 0px 5px 0px;
}

.colonna-accessori{ 
    margin-bottom: 50px;
}

.box-accessori{
    text-align: center;
}

.box-accessori p{
    margin-top: 10px;
    color: grey;
}

.box-accessori img{
    cursor: pointer;
}

.box-accessori:hover{
    border-bottom: 3px solid #006CCE;
}

/* NUOVE USCITE */

.nuove-uscite{
    background-color: #1F1F1F;
    padding-bottom: 60px;
    color: white;
}

.nuove-uscite .box-testo-nuscite{
    color: white;
    margin: 40px 0px 20px 0px;
}

.nuove-uscite .box-testo-nuscite h2{
    margin-bottom: 25px;
}

/* PLAYSTATION 4 */
.console-ps-4{
    padding: 50px 0px;
}

.console-ps-4 .box-title .p-centrale{
    margin-bottom: 2px;
}

.box-ps-4{
    margin-top: 60px;
}

.console-ps-4 .box-ps-4 p{
    margin: 20px 0px;
}

.width-btn{
    width: 120px;
}

/* PS PLUS */

.ps-plus{
    background-color: #BEBCBB;
}

.box-testo-plus{
    margin-top: 20px;
    padding-bottom: 40px;
}

.box-testo-plus img{
    width: 200px;
}

.ps-plus .box-plus img{
    height: 100%;
}

.ps-plus p, .ps-now p{
    margin: 35px 0px;
}

.btn-plus{
    background-color: #D9DADB;
    color: #006CCE;
    border-color: #D9DADB;
}

/* SCONTI */

.sconti{
    padding: 50px 0px;
}

.sconti .row-sconti{
    margin-top: 50px;
}

.box-sconti{
    margin-bottom: 30px;
}

/* PS NOW */

.ps-now{
    background-color: #161C3B;
    padding-bottom: 40px;
}

.ps-now p{
    color: white;
}

.btn-now{
    color: black;
}

/* SOCIAL */

.social{
    padding: 60px 0px 80px 0px;
}

.social h3{
    margin-bottom: 60px;
    font-weight: 500;
}

.box-social{
    margin-bottom: 30px;
}

/* FOOTER */

footer{
    min-height: 500px;
    background-color: #00439B;
    color: white;
    font-size: 12px;
}

footer .box-footer{
    display: flex;
    flex-direction: column;
    position: relative;
}

footer .box-footer img{
    width: 150px;
    margin-bottom: 15px;
}

footer .container .ps-logo-footer{
    width: 100px;
    margin-bottom: 40px;

}

footer .ps-country{
    padding-top: 60px;
}

footer .box-linguage{
    display: flex;
    flex-direction: row;
}

footer .box-linguage img{
    margin-right: 10px;
}

footer .box-linguage p{
    font-size: 15px;
    font-weight: 700;
}

footer .box-footer .language{
    width: 20px;
}

footer .row-list{
    margin: 30px 0px;
}

footer ul{
    list-style: none;
}

footer ul li{
    margin-bottom: 15px;
}

footer a{
    color: white;
    text-decoration: none;
}