/* HEADER */

header{
    height: 100px;
    background-color: #000;
}


/* JUMBOTRONE TOP-BOTTOM */

.mt-jumbotrone-top, .mt-jumbotrone-bottom{
    height: 630px;
    background-image: url("../img/jumbo-bg.png");
    background-size: cover;
    background-position: center;
}

.testo-jumbo{
    width: 400px;
    color:white;
    padding-top: 275px;
}

.testo-jumbo img{
    width: 55%;
}

.testo-jumbo h1{
    margin: 25px 0px 30px 0px;
}

.mt-jumbotrone-bottom{
    background-image: url("../img/it-takes-two-hero-banner-desktop.jpg");
}

.testo-jumbo-bottom{
    padding-top: 50px;
}

.testo-jumbo .custom-btn{
    margin-top: 15px;
    background-color: #CD3D10;
    border-radius: 20px;
    padding: 9px 15px;
    font-weight: 500;
}